* {
    margin: 0;
}

#main {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(180, 22%, 38%);
}

#title {
    text-align: center;
    font-size: 2.5rem;
}

.data-container {
    width: 800px;
    height: 500px;
    padding: 40px;
    padding-left: 60px;
    background-color: white;
    box-shadow: 0 0 40px black;
}

#tooltip {
    position: absolute;
    text-align: center;
    background-color: hsla(0, 0%, 69%, 0.822);
}